<span style="font-size:70px;">Welcome, to the <strong>synopticly</strong>!</span>
<br /><br />
<span style="font-size:70px;">Current time: <%= Time.now.to_s %></span><br />
<span style="font-size:50px;">Objects: <%= Application.distinct.select(:app_name).size.to_s %></span>
<br /><br />

<svg id="graphContainer">
  <g/>
</svg>

<textarea id="dot" style="width:800px;height:400px;display:none;">
digraph {
<% Application.where("app_name <> 'n/a' AND app_name is not null").each do |app| %>

  <% if !app.app_name.blank? then %>

    <% desc = Entry.where("application_id = ? AND created_at >= now() - interval '1 minute'", app.id).count rescue nil %>
    <% sub_entries = Entry.where("app_name = ? AND hostname IS NOT NULL AND created_at >= now()-interval '10 seconds'", app.app_name)
                     .group(:hostname)
                     .select(:hostname)
                     .pluck(:hostname) %>
    <% version = Entry.where("app_name = ? AND hostname IS NOT NULL AND created_at >= now()-interval '1 minute'", app.app_name).first %>
    <% 
      platforms = ""
      begin
        platforms = "# #{sub_entries.size} \n "
        if !version.ruby_version.blank? && version.ruby_version != 'n/a' then
          platforms = platforms + "ru: #{version.ruby_version rescue '?'}"
        end
        if !version.wildfly_version.blank? && version.wildfly_version != 'n/a' then
          platforms = platforms + "\nwf: #{version.wildfly_version rescue '?'}" 
        end
        if !version.os_version.blank? && version.os_version != 'n/a' then
          platforms = platforms + "\nos: #{version.os_version rescue '?'}" 
        end
      rescue 
      end 
      if version.app_name == version.hostname then 
        uptime_load = "hl: " +  version.uptime.split("load average")[1][2..-1].gsub(", ", " ").gsub(",", ".") rescue nil
        uptime_info = "hi: " +  version.uptime.split("load average")[0][0..-4] rescue nil
        host = uptime_load + "\n" + uptime_info + "\n"
      else
        host = ""
      end
    %>
    "<%= app.app_name %>" [label="<%= app.app_name + "\n" + host + "\n" + platforms + "\n____________________" %>"];
  <% end %>
<% end %>

<% Flow.all.each do |f| %>
  "<%= f.input %>" -> "<%= f.output %>"
<% end %>

}
</textarea>

<a href="https://github.com/michalasobczak/synopticly">GitHub</a>

<script>
  $(document).ready(function() {
    setInterval(function() {
      $('tspan').each(function() { 
        r = /# 0/gi; 
        if (this.textContent.toString().match(r)) {
          console.log("ALERT: 0 pods!"); 
          fill = $($($(this).parent().parent().parent()).children()[0]).attr("style");
          if (fill == "fill:rgb(255,0,0)") {
            $($($(this).parent().parent().parent()).children()[0]).attr("style", "fill:rgb(255,255,255)");
          }
          else {
           $($($(this).parent().parent().parent()).children()[0]).attr("style", "fill:rgb(255,0,0)");
          }
        } 
      });
    },1000);


    $('.node').click(function() {
      // This gets the node name from the 'class' attribute
      var class_header = $(this).attr('class').split(' ');
      var node_name = class_header[class_header.length - 1]
      // Execute your function
      alert(node_name)

    })
  });

  //setInterval(function() {
  //  location.reload();
  //}, 15000);
</script>
