Welcome, to the <strong>synopticly</strong>!

<% if params["full"] == "true" then %>
  <a href="?full=false">Switch to basic</a>
<% else %>
  <a href="?full=true">Switch to full</a>
<% end %>

<br /><br />

<svg id="graphContainer">
  <g/>
</svg>

<textarea id="dot" style="width:800px;height:400px;display:none;">
digraph {
<% Application.where("app_name <> 'n/a' AND app_name is not null").each do |app| %>

  <% if !app.app_name.blank? then %>

    <% desc = Entry.where("application_id = ? AND created_at >= now() - interval '1 minute'", app.id).count rescue nil %>
    <% sub_entries = Entry.where("app_name = ? AND hostname IS NOT NULL AND created_at >= now() - interval '1 minute'", app.app_name).group(:hostname).select(:hostname).pluck(:hostname) %>
    <% exact = desc.to_s rescue '' %>
    <% rounded = (desc / 60.0).round(0).to_s rescue '' %>   
    "<%= app.app_name %>" [label="<%= app.app_name + "\n" + "pods: #{sub_entries.size.to_s}" %>"];
    
    <% if params["full"] == "true" then %>
      <% if !sub_entries.blank? then %>
        "<%= app.app_name %>" -> { <%= sub_entries.map { |e| '"' + e + '"' }.join(" ") %> }
      <% end %>
    <% end %>

  <% end %>
<% end %>

<% Flow.all.each do |f| %>
  "<%= f.input %>" -> "<%= f.output %>"
<% end %>

}
</textarea>

<script>
  $(document).ready(function() {
    setInterval(function() {
      $('tspan').each(function() { 
        r = /pods: 0/gi; 
        if (this.textContent.toString().match(r)) {
          console.log("ALERT: 0 pods!"); 
          $($($(this).parent().parent().parent()).children()[0]).attr("style", "fill:rgb(0,0,255)")
        } 
      });
    },1000);
  });

  setInterval(function() {
    location.reload();
  }, 60000);
</script>
